@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: black;
}
html {
  scroll-behavior: smooth;
}


/* .cust tr, td{
  border: 1px solid red;
  padding: 8px;
}
.cust{
  padding: 30px 30px;
}
.cust th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
} */
/* .pop{
  position: absolute;
  right: 20px;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

